<div id="present-container">
    <div class="bg-image"></div>
    <div class="small-image">
    <div class="banner-text">
        <h2>Made for</h2>
        <h1>those who do</h1>
    </div>
    </div>
    <%= render 'static_pages/partials/query_form' %>
    <%= render 'static_pages/partials/navbar' %>
</div>
<div class="events-container">
    
</div>
<div class="events-container">
    
</div>
<div id="footer-container">
    
</div>