<div class="ui secondary  menu">
      <a class="active item">Home</a>
      <div class="ui icon input">
            <input type="text" placeholder="Search...">
          <i class="search link icon"></i>
      </div>
      <div class="right menu">
        <div class="ui simple dropdown item">
          <a class="item">
            Organize
            <i class="dropdown icon"></i>
          </a>
          <div class="menu">
            <div class="ui link list">
              <a class="item">Overview</a>
              <a class="item">Pricing</a>
              <a class="item">Blog</a>
              <a class="item">Resources</a>
            </div>  
          </div>  
        </div>

        <div class="ui simple dropdown item">
          <a class="item">
            Help
            <i class="dropdown icon"></i>
          </a>
          <div class="menu">
            <div class="ui link list">
              <a class="item">How it works?</a>
              <a class="item">How it works?</a>
              <a class="item">How it works?</a>
              <a class="item">How it works?</a>
            </div>
          </div> 
        </div>
        <a class="ui item">
          Create Event
        </a>
        <a class="ui item">
          Sign
        </a>
      </div>
    </div>