@import "../defaults/_mixins.scss";

#present-container {
    width: 100%;
    height: 62%;
    position: static;
    overflow: hidden;
    .bg-image {
        background-image: url(https://cdn.evbstatic.com/s3-build/perm_001/6cc698/django/images/homefeed/music-campaing-3-2600-large.jpg);
        filter: blur(8px);
        -webkit-filter: blur(8px);
        height: 100%;
        border: none;
        opacity: 0.8; 
        transform: scale(1.1);
    }
    .small-image {
        position: absolute;
        width: 55%;
        height: 58%;
        background-image: url(https://cdn.evbstatic.com/s3-build/perm_001/6cc698/django/images/homefeed/music-campaing-3-2600-large.jpg);
        background-size: cover;
        top: 10%; 
        left: 20%;  
    }
}
.events-container {
    width: 100%;
    height: 70%;
}
#footer-container {
    width: 100%;
    height: 14%;
}