#navbar {
    position: absolute;
    top: 0;
    width: 100%;
    a {
        filter: none;
        color: white;
        z-index: 2;
    
    }
    .right {
        margin-right: 20px;
        .simple {
            margin-left: -2em;
        }

    }
}
