@import "../../defaults/mixins";
@import "../../defaults/variables";
@import "font-awesome";

.query-form {
    display: grid;
    width: 21%;
    height: 33%;
    color: black;
    left: 60%;
    top: 22%;
    position: absolute;
    padding: 1em;
    color: gray;
    background-color: white;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6,1fr);
    grid-template-areas: 
      "a"
      "b"
      "c"
      "d"
      "e"
      "f";
  #item1 {
    grid-area: a;
    @include margin-small;
  }
  #item2 {
    grid-area: b;
    @include margin-small;
  }
  #item3 {
    grid-area: c;
    @include margin-small;
  }
  #item4 {
    grid-area: d;
    @include margin-small;
  }
  #item5 {
    grid-area: e;
    @include margin-small;
  }
  #item6 {
    grid-area: f;
    @include margin-small;
  }    
  #submit-btm {
    padding: 1em;
    background-color: #EE5435;
    color: #FCDFD9;
    position: absolute;
    bottom: -6%;
    right: 7%;
    i {
      -webkit-text-stroke: 1px #EE5435;
    }
  }
  .select-input {
    width: 95%;
    margin: 0 0 1em 0;
    background-color: white;
    border: none;
    border-bottom: 1px solid lightgray;
    font-weight: bold;
    font-size: 1.3em;
  }
}
