@import "../../defaults/mixins";

.query-form {
    display: grid;
    border: 1px solid black;
    width: 28%;
    height: 30%;
    color: black;
    left: 60em;
    top: 12em;
    position: absolute;
    background-color: white;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6,1fr);
    grid-template-areas: 
      "a"
      "b"
      "c"
      "d"
      "e"
      "f";
  
  #item1 {
    grid-area: a;
  }
  #item2 {
    grid-area: b;
  }
  #item3 {
    grid-area: c;
  }
  #item4 {
    grid-area: d;
  }
  #item5 {
    grid-area: e;
  }
  #item6 {
    grid-area: f;
  }
  

    
}
