<%= render "static_pages/partials/navbar"%>

<aside>
    <h1><%= @user.name %></h1>
    <% if @user.profile_picture.attached? %>
        <%= image_tag(@user.profile_picture) %>
    <% else %>
        <div class="login-image"></div>  
    <% end %>
</aside>
