
<%= render "static_pages/partials/navbar"%>
<div class="grid-profile">
    <header></header>
    <aside>
        <h1><%= @user.name %></h1>
        <% if @user.profile_picture.attached? %>
            <%= image_tag(@user.profile_picture) %>
        <% else %>
            <div class="login-image"></div>  
        <% end %>
    </aside>
    <div class="aside-2"></div>
    <div class="sugest-events"></div >
    <div class="events">
        <h1>Your events:</h1>
        <ul><% @all_events = current_user.events.pluck(:id) %>
            <% all_events.each do |event| %>
                <li><%= event %></li>
            <% end %>
        </ul>
    </div>
    
</div>
