@mixin highlight {
    border: 1px solid red;
    background-color: rgba(255, 0, 0, 0.466);
}

@mixin margin-small {
    margin: 1em;
}

@mixin box_sizing {
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:         border-box;
}
@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*      Images        */

@mixin smaller-image {
    background-size: cover;
    height: 3em;
    width: 3em;
}

@mixin small-image {
    background-size: cover;
    height: 5em;
    width: 5em;
}

@mixin medium-image {
    background-size: cover;
    height: 20em;
    width: 20em;
}

@mixin bg-image {
    filter: blur(8px);
    -webkit-filter: blur(8px);
    height: 100%;
    border: none;
    opacity: 0.8; 
    transform: scale(1.1);
}