@import 'semantic-ui';
@import 'defaults/mixins.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*     Debug  & Errors    */

.debug_dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
    @include box_sizing;
  }

.message.closable {
    margin-left: 20%;
    margin-right: 20%;
}

/*     Titles     */

.banner-text {
    margin-top: 20%;
    margin-left: 8%;
    color: white;
    h1 {
        margin-top: 0;
        font-size: 4em;
    }
    h2 {
        margin-bottom: 0;
        color: #D0D0D2;
    }
}

/*       Images       */

.login-image {
    background-image: url("https://cdn3.iconfinder.com/data/icons/login-4/512/LOGIN-10-512.png");
    @include small-image;
}

aside {
    margin-top: 5em;
    height: 100%;
    img {
        @include medium-image;
        border-radius: 50%;
    }
}